<h1>Login</h1>

<div class="row">
  <h4><%= flash[:notice] %></h4>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :auth, url: auth_create_path do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :verification_code %>
      <%= f.text_field :verification_code , class: 'form-control'%>

      <%= f.submit 'Log In', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div>
    <p>New? <%= link_to 'Sign Up!', new_user_path %></p>
    <p>Need a new code? <%= link_to 'Request one!', verification_code_new_path %></p>
  </div>
</div>

