<h1>Verification Code Request</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :verification_code, url: verification_code_create_path do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :phone_number %>
      <%= f.text_field :phone_number , class: 'form-control'%>

      <%= f.submit 'Request Verification Code', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div>
    <p>New? <%= link_to 'Sign Up!', new_user_path %></p>
  </div>
</div>
